@charset "UTF-8";

/* myPage.css , cart.jsp */
/* myPage.css 스타일 적용 건드리지 말아주세요 @! */
/* cart.jsp 스타일 적용 건드리지 말아주세요 @! */

#delete_item {
	float: left;
}

#add_to_cart {
 	float: left;
 	margin-left: 4px;
}

#order_all {
 	float: right;
 	margin-left: 4px;
 }

#delete_all {
	float: right;
	margin-left: 4px;
}

#div_table {
	width: 90%;
	margin: auto;
}

#write {
	float: right;
}

.th-image1 {
	width: 80px;
	text-align: left;
}

.th-product-name1 {
	width: 600px;
	text-align: left;
}

.th-price1 {
	width: 100px;
	text-align: left;
}

.th-select1 {
	width: 100px;
	text-align: left;
}

.boardSearch {
	color: #666;
	font-size: 11px;
	text-align: center;
	box-sizing: border-box;
	font-family: 'Lato', 'Nanum Gothic', sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: top;
	display: block;
}

ul {
	list-style: none !important;
	padding-left: 0px;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: none;
}

#search_date {
	font-size: 12px;
	height: 30px;
	width: 100px;
}

#search_key {
	font-size: 12px;
	height: 30px;
	width: 100px;
}

#search {
	height: 30px;
	width: 150px;
}

#inquiry_menu {
	text-align: center;
	padding-bottom: inherit;
}

* {
	margin: 0;
	box-sizing: border-box;
}

#inquiry_menu a {
	padding: 0 20px;
}

/* a:after{content:" | "}
a:last-child:after{content:"";} */
#inquiry_menu span {
	
}

#inquiry_container {
	border-width: 1px;
	/* border-color: #e8e8e8; */
	border-color: transparent;
	background-color: #fff;
	/* border: double #e8e8e8; */
	font-size: 12px;
	margin: 0 auto;
	width: 90%;
	line-height: 200%;
	padding-top: 0px;
}